<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bokeh Scatter Plots</title>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ script|safe }}
  </head>
  <body>
    <div class=page>
      <h1>Plot stock prices from Quandl from the last 30 days</h1>
        <div class=metanav>
          <h4>
            Enter the ticker code (case insensitive) 
          </h4>

          <form id='userinfoform_lulu' method='post' action='index' >
            <p>
                Ticker: <input type='text' name='ticker_name' />
            </p>
            <p>
              <input type='submit' value='Make my plot!' />
            </p>
          </form>

        </div>
        {{ div | safe }}
  </div>
  </body>
</html>
